<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Availiable Fund </p>
              <p class="card-title"> {{account.cash}}$
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh " (click)="refresh()"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-briefcase-24 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Unrealized P/L</p>
              <p class="card-title">$ {{unrealizedPl}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Orders Executed Today</p>
              <p class="card-title">{{orderExecutedToday}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> In the last hour
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-button-power text-success" (click)="refresh()"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category" (click)="refresh()" >Stop the Trading</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Profit Or Loss</h5>
        <p class="card-category">Last 6 Months</p>
      </div>
      <div class="card-body ">
        <canvas id=chartProfitAndFund width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Open Positions</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
                  <th>Symbol</th>
                  <th>Current Price</th>
                  <th>Entry Price</th>
                  <th>Qty</th>
                  <th>Market Value</th>
                  <th>Unrealized P/L</th>
                  <th>Today P/L</th>
                  <th>Unrealized P/L %</th>
            </thead>
            <tbody>
                <tr *ngFor="let position of openPositions">
                  <td  class="text-left">{{position.symbol}}</td>
                  <td class="text-left">{{position.currentPrice}}</td>
                  <td class="text-left">{{position.avgEntryPrice}}</td>
                  <td class="text-left">{{position.qty}}</td>
                  <td class="text-left">{{position.marketValue}}</td>
                  <td class="text-left">{{position.unrealizedPl}}</td>
                  <td class="text-left">{{position.unrealizedIntradayPl}}</td>
                  <td class="text-left">{{position.unrealizedPlpc}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Recently Executed Orders </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
                  <th>Symbol</th>
                  <th>Avg Price</th>
                  <th>Qty</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>Filled At</th>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                  <td  class="text-left">{{order.symbol}}</td>
                  <td class="text-left">{{order.filledAvgPrice}}</td>
                  <td class="text-left">{{order.qty}}</td>
                  <td class="text-left">{{order.side}}</td>
                  <td class="text-left">{{order.status}}</td>
                  <td class="text-left">{{order.filledAtFormatted}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer ">
        <p class="card-category hoverActivate col-sm-4" routerLink="/orders">Click here to see more orders</p>
      </div>
    </div>
  </div>
</div>
