<div class="container custom-container-2">

  <!-- Show it when there is no employee -->
  <div class="no-data text-center">
    <p>Click here to add more Stock Trade Strategy</p>
    <button class="btn btn-outline-primary" routerLink="trade-strategy-edit">Add Stock Trade Strategy</button>
  </div>

  <!-- Employees list table, it hides when there is no employee -->
  <div *ngIf="stockTradeStrategies.length !== 0">
    <h3 class="mb-3 text-center">Browse Stock Trade Strategy</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Interval</th>
            <th scope="col">IntervalDuration</th>
            <th scope="col">TimeUnit</th>
            <th scope="col">State</th>
            <th scope="col">CandleCount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stockTradeStrategy of stockTradeStrategies">
            <td>{{stockTradeStrategy.ticker}}</td>
            <td>{{stockTradeStrategy.interval}}</td>
            <td>{{stockTradeStrategy.intervalDuration}}</td>
            <td>{{stockTradeStrategy.timeUnit}}</td>
            <td>{{stockTradeStrategy.state}}</td>
            <td>{{stockTradeStrategy.candleCount}}</td>
            <td>
              <span class="edit" routerLink="trade-strategy-edit/{{stockTradeStrategy.ticker}}">Edit</span>
              <span class="delete" (click)="deleteStockStrategy(stockTradeStrategy.ticker)">Delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
